// Fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700,900&display=swap');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icon
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import "~github-markdown-css/github-markdown.css";

body {
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 5rem;
}
